http://caddy.local {
    root /var/www
    tls off
    fastcgi / app:9000 {
        ext     .php
        split   .php
        index   index.php
    }
}
http://dashboard.caddy.local {
    root /var/www/dashboard
    tls off
    fastcgi / app:9000 {
        ext     .php
        split   .php
        index   index.php
    }
}
